* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: calc(30% - 1rem);
    padding: 1rem;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
}